.class {
}
.mediaplugin_youtube {
    max-width:400px;
    margin-bottom:2em;
}
.video-list {
    list-style:none;
    margin:0;
}
    .video-list li {
        margin-right:50px;
        display:inline-block;
            min-width:400px;
            float:left;
    }
@media (max-width:700px) {
    .video-list li {
        display:block;
        min-width:0;
        float:none;
    }
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-container {
    
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
/* use: 
    <div class="video-container">
         <iframe src="http://www.youtube.com/embed/dFVxGRekRSg" frameborder="0" width="560" height="315"></iframe>
</div>
    http://avexdesigns.com/responsive-youtube-embed 
    */