
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="MITRE Cyber Academy Frontpage">
        <meta name="author" content="MCA Staff">
        <title>{{ page.title }}</title>
        <link href="{{ site.github.url }}/css/main.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ site.github.url }}/img/favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <!--[if IE 7]>
        <link rel="stylesheet" href="{{ site.baseurl }}css/font-awesome-ie7.min.css">
        <![endif]-->
        <!-- Scripts START -->
        <script src="{{ site.github.url }}/js/jquery-1.7.2.min.js"></script>
        <script src="{{ site.github.url }}/js/bootstrap.min.js"></script>
        <script src="{{ site.github.url }}/js/sticky-footer.js"></script>
        <!-- Scripts END-->
        {% seo %}
    </head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">MITRE Cyber Academy</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="/about"><i class="icon-info-sign icon-white"></i> About</a></li>
                        <li><a href="/contact"><i class="icon-globe icon-white"></i> Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{ content }}
    <div class="well footer" id="page-footer">
        <div class="container">
            <div class="row-fluid">
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p><a href="https://www.mitre.org">MITRE</a> Cyber Academy | <a href="/terms-of-service">Terms of Service</a></p>
                <p class = "pull-right"><a href="https://github.com/mitre-cyber-academy" target="_blank"><i class = "fab fa-github fa-2x"></i></a>
                    <a href="https://www.facebook.com/MITREcorp/" target="_blank"><i class = "fab fa-facebook fa-2x"></i></a>
                    <a href="https://www.instagram.com/accounts/login/?next=/mitre.corp/" target="_blank"><i class = "fab fa-instagram fa-2x"></i></a>
                    <a href="https://twitter.com/MITREcorp?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class = "fab fa-twitter fa-2x"></i></a>
                    <p>Copyright &copy 2021 The MITRE Corporation</p>
                </p>
            </div>
        </div>
    </div>

</body>
</html>
